.row {
  margin: 10px;
}
.card-title {
  text-align: center;
}

.more-info {
  margin:0px auto;
}

.modal-header h5{
  color:black;
}

.fa-search {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.3em;
}

.more-detail, .img-fluid{
  border-radius:50%;
}